* {
    background-color: antiquewhite;
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}
.galeria {
    display: flex;
    align-items: center;
}
.galeria img {
    margin: 10px;
    width: 120px;
    flex-grow: 1;
    object-fit: cover;
    filter: brightness(80%);
    transition: .7s ease;
}
.galeria img:hover{
    width: 300px;
    opacity: 1;
    filter: brightness(130%);
}